<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body th:fragment="navbar">
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold text-danger" th:href="@{/menu}">BiteRush</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="nav" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" th:href="@{/menu}">Menu</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/cart}">Cart</a></li>
        <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a class="nav-link" th:href="@{/admin}">Admin</a></li>
      </ul>
      <div class="d-flex">
        <form th:action="@{/logout}" method="post">
          <button class="btn btn-outline-danger">Logout</button>
        </form>
      </div>
    </div>
  </div>
</nav>
</body>
</html>
